body{
	background-image: url(../images/navy_blue.png);
	text-align: center;
}

.text-muted{
	color: blue;
}
.last-seconds{
  color: red;
}
.option{
  margin: 15px;
}

.container{
	margin-top: 10vh;
	margin-bottom: 10vh;
}

#animation{
	text-align: center;
	animation: fadein 4s;
	-moz-animation: fadein 4s; /* Firefox */
	-webkit-animation: fadein 4s; /* Safari and Chrome */
	-o-animation: fadein 4s; /* Opera */
}
@keyframes fadein {
	from {
			opacity:0;
	}
	to {
			opacity:1;
	}
}
@-moz-keyframes fadein { /* Firefox */
	from {
			opacity:0;
	}
	to {
			opacity:1;
	}
}
@-webkit-keyframes fadein { /* Safari and Chrome */
	from {
			opacity:0;
	}
	to {
			opacity:1;
	}
}
@-o-keyframes fadein { /* Opera */
	from {
			opacity:0;
	}
	to {
			opacity: 1;
	}
}

footer {
	position: relative;
	font-size: 12px;
	color: #ccc;
	text-align: center;
	background: #666;
	border-top: 8px solid #f38630;
	width: 100%;
	margin-top: 20px;
	bottom: 0;
	height:50px;}